@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font);
    background-color: var(--color-zero);
}